/* ============================================= */
/*              Body                             */
/* ============================================= */

.hero {
    @include flexy($align: center, $dir: column);
}

hr {
    margin: 0;
}

.bio {
    margin: 0 2.5rem;
    text-align: center;
    h2 {
        margin: 2rem 0;
    }
    &-cards {
        @include flexy($dir: column, $align: center);
    }
}

.about {
    margin: 1rem 0;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    border: 2px solid $dark-text;
    text-align: center;
    width: 350px;
    margin: 1rem 0;
    padding: 1rem;
}

.card-1 {
    box-shadow: 5px 5px 0 $dark-text;
}

.card-2 {
    box-shadow: -5px 5px 0 #736CC4;
}

.card-3 {
    box-shadow: -5px -5px 0 #3C3678;
}

.card-4 {
    box-shadow: 5px -5px 0 $portfolio-yellow;
}