/* ============================================= */
/*              Button                           */
/* ============================================= */

.overlay-button-container {
    @include flexy();
}

.overlay-button {
    color: $dark-text;
    border: 1px solid $dark-text;
    padding: .4rem 1.4rem;
    margin: 0 .4rem;
    box-shadow: 3px 3px 0 $dark-text;
    transition: .4s;
}

.overlay-button:hover {
    background-color: $white;
}