/* ============================================= */
/*              Contact                          */
/* ============================================= */

.contact {
    padding: 75px 50px 20px;
}

.contact-info {
    @include flexy($dir: column, $align: center);
    &-icons {
        @include flexy();
    }
}

.contact-title {
    margin: 2rem 0;
}

.contact-icon {
    width: 40px;
    margin: 2rem;
}

.footer-sound-icon {
    opacity: 0;
    width: 40px;
    margin: 1rem 0;
    transition: .2s;
}

.footer-sound-icon.fade {
    opacity: 1;
}

.footer-hover:hover {
    fill: $hot-red;
}

// contact form 
