/* ============================================= */
/*              Header                          */
/* ============================================= */
.navbar-light {
    .navbar-toggler-icon {
        background-image: none !important;
    }
    .navbar-toggler {
        outline: none;
    }
}

.nav-icon-horizontal,
.nav-icon-vertical {
    fill: $dark-text;
    width: 45px;
}

.nav-icon-horizontal {
    display: none;
}

.header {
    padding-bottom: 75px;
}

.hero {
    @include flexy($align: center, $dir: column);
    &-title {
        margin: 1rem 0;
    }
}

.skills {
    @include flexy();
}

.skills-icon {
    width: 50px;
    margin: 1rem .6rem;
}


.navbar-brand {
    font-size: 2rem;
    a {
        color: $dark-text;
        text-decoration: none;
    }
}

.nav-item {
    font-size: 1.2rem;
}