/* ============================================= */
/*              Header                          */
/* ============================================= */
.header {
    margin: 0 2.5rem;
}

.header,
main {
    height: 100vh;
}

.site-header {
    @include flexy($align: center, $just: space-between);
    padding: 1rem 0;
}

.site-header-vertical {
    display: none; 
}

.site-header-horizontal,
.site-header-vertical {
    width: 4rem;
    cursor: pointer;
    fill: $dark-text;
}

.nav-modal {
    display: none;
}

.nav-modal-list a {
    text-decoration: none;
    color: $dark-text;
    &:hover {
        color: $dark-grey;
    }
} 