/* ============================================= */
/*              Images                           */
/* ============================================= */

.avatar {
    margin: 3rem;
}

.about {
    @include flexy($dir: column, $just: space-between);
}

.blob-one {
    z-index: -1;
    position: absolute;
    top: -200px;
    right: -100px;
    width: 1150px;
}

.headshot {
    width: 300px;
    border: 2px solid $dark-text;
    border-radius: 50%;
}
