/* ============================================= */
/*              Images                           */
/* ============================================= */

.avatar {
    margin: 3rem;
}

.about {
    @include flexy($dir: column, $just: space-between);
}
.about-img {
    width: 100%;
}

.blob {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 550px;
}

.headshot {
    width: 300px;
    border: 5px solid black;
    border-radius: 50%;
}