/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $md) {
 
    .site-header-vertical {
        display: block;
    }
    
    .site-header-horizontal {
        display: none;
    }

    .about {
        padding: 75px 0 200px;
    }

    .bio {
        width: 70%;
    }
}

@media (min-width: $lg) {
    
    .site-header {
        @include flexy($align: center, $just: space-between);
        padding: 1rem 0;
    }

    .site-header-vertical {
        display: none;
    }

    .nav-modal {
        display: block;
        &-list {
            @include flexy();
            font-size: 1.2rem;
            list-style: none;
            li {
                padding: 0 2rem;
            }
        }
    }

    .about {
        padding: 75px 0 250px;
    }

    .bio {
        width: 60%;
    }

    .portfolio-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
    }

}