/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $md) {

    .nav-icon-horizontal {
        display: block;
    }
    
    .nav-icon-vertical {
        display: none;
    }

    .about {
        padding: 75px 0 200px;
    }

    .bio {
        width: 70%;
    }

    .portfolio-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    
}

@media (max-width: $xs) {
    .card-description {
        display: none;
    }
}

@media (min-width: $lg) {
    
    .site-header {
        @include flexy($align: center, $just: space-between);
        padding: 1rem 0;
    }

    .about {
        padding: 75px 0 250px;
    }

    .bio {
        width: 60%;
    }

    .portfolio-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-hover {
        margin: auto;
    }

}