/* ============================================= */
/*              Members                          */
/* ============================================= */
.portfolio {
    padding: 75px 50px 150px;
    &-title {
        margin: 2rem 0;
        text-align: center;
    }
}

.portfolio-cards {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
}

.card {
    position: relative;
    text-align: center;
}

.card-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.card:hover .card-image { // .CARD OVERFLOWS TO THE LEFT AND RIGHT AND THIS AFFECTS HOVER FUNCTIONALITY
    opacity: 0.3;
}
  
.card:hover .card-overlay {
    opacity: 1;
}
  
.card-image {
    opacity: 1;
    transition: .4s ease;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    border: 2px solid $dark-text;
    width: 100%;
}

.card-1 {
    box-shadow: 5px 5px 0 $portfolio-yellow;
}

.card-2 {
    box-shadow: -5px 5px 0 $card-purp;
}

.card-3 {
    box-shadow: -5px -5px 0 $dark-text;
}

.card-4 {
    box-shadow: 5px -5px 0 $card-dark-purp;
}

.card-title {
    font-size: 1.3rem;
}

.overlay-button {
    color: $dark-text;
    border: 1px solid $dark-text;
    padding: .4rem 1.4rem;
    margin: 1rem .4rem;
    box-shadow: 3px 3px 0 black;
    transition: .4s;
}

.overlay-button:hover {
    background-color: $white;
}