/* ============================================= */
/*              Typography                       */
/* ============================================= */


body {
    color: $dark-text;
    font-Family: 'Quattrocento Sans', Sans-Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-Family: 'Ovo', Serif;
}